<nav>
    <div class="site-logo">
        <h1>Software Blogs</h1>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="blog/create">Create</a></li>
</nav>