    <title>about page</title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque reiciendis cum ut praesentium veritatis? Possimus, voluptas qui accusantium doloremque sequi culpa sit iusto? Sit ipsa consequatur ipsum quam? Commodi, sit?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dignissimos consequuntur sapiente in autem incidunt eligendi quas architecto, atque dolor perspiciatis eveniet similique numquam mollitia sit iure, fugit dolorum dicta?</p>
    </div>
</body>
</html>